body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header {
    text-align: center;
    margin-bottom: 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
section {
    margin-bottom: 40px;
}

h1 {
    font-family: "Roboto", sans-serif;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}
p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}
footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

img {
    width: 700px;
}

.footnote {
    font-size: 0.8em; /* Adjust this to your preferred size */
    color: #666;      /* Optional: makes the footnote a lighter color */
}